.header{
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 20px 24px;
    gap: 16px;

    background-color: #ffffff;

    &__btn-box{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }

    &__top {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 16px;

        &__input{
            font-size: 2rem;
            font-weight: 700;
            outline: none;

            &::placeholder{
                color: #c4c4c4
            }
        }
    }
    &__bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        &__group {
          display: flex;
          align-items: center;
          justify-content: space-between; /* ✅ 큰 화면에서 왼쪽-오른쪽 배치 */
          gap: 12px;
    
          @media (max-width: 768px) {
            flex-direction: column; /* ✅ 모바일에서는 세로로 쌓기 */
            align-items: stretch;
            justify-content: center;
            gap: 10px;
    
            button {
              width: 100%; /* 버튼도 한 줄 */
            }
          }
        }
    
        &__dates {
          display: flex;
          align-items: center;
          gap: 12px;

          
    
          @media (max-width: 768px) {
            flex-direction: column; /* 📱 모바일에서는 세로로 */
            align-items: stretch;
            gap: 10px;
          }
        }
      }
}

.body{
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    justify-content: flex-start;

    width: 100%;
    height: calc(100vh - 230px);

    padding: 12px 64px;

    &__isData {
        width: 100%;
        flex: 1;
        overflow-y: auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
    
        padding-bottom: 24px; 
        
        // ✅ 모바일 대응
        @media (max-width: 768px) {
          height: calc(100vh - 280px); 
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch; 
          
          gap: 12px;

          padding-bottom: 160px;
        }
      }
    
    &__noData{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 16px;

    }
}